- add_to_breadcrumbs _('Runners'), group_runners_path(@group)

- if Feature.enabled?(:group_runner_view_ui)
  - title = "##{@runner.id} (#{@runner.short_sha})"
  - breadcrumb_title title
  - page_title title

  #js-group-runner-show{ data: {runner_id: @runner.id, runners_path: group_runners_path(@group), edit_group_runner_path: edit_group_runner_path(@group, @runner)} }
- else
  = render 'shared/runners/runner_details', runner: @runner
